@page "/Details/detailsProject/{Id:guid}"

@inject NavigationManager Navigation
@inject HttpClient httpClient

<style>
    .box1 {
        padding-left: 50%;
        border: ridge;
        margin-top: 5%;
        margin-left: -25%;
    }

    .box3 {
        margin-left: -25%;
        margin-top: 1%;
    }

    .box2 {
        padding: 10%;
        padding-left: 50%;
        border: ridge;
        margin-left: -25%;
    }
</style>

<div class="box1">
    <h3>Project Details</h3>
</div>

<div class="box3">

    <p>
        <a class="btn btn-primary" href="/Views/viewProjects">Back</a>

    </p>


</div>

<div class="box2">
    <h4>Title</h4>
    <p>
        @project.ProjectName
    </p>
    <h4>Description</h4>
    <p>
        @project.Description
    </p>
</div>
@code {
    [Parameter]
    public Guid Id { get; set; }
    private Project project { get; set; } = new Project();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            project = await httpClient.GetFromJsonAsync<Project>($"api/Project/{Id}");

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception e)
        {

        }
    }
}
